img {
    width: 300px;
    height: auto;
}

p {
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
}

li {
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
}

.ingredients li {
    
    font-weight: bold;
}

.sublist li {
    font-weight: normal;
}

ol li {
    padding-top: 10px;
    padding-bottom: 10px;
}

* {
    
    font-family: 'Times New Roman', Times, serif;
}